.card {
  margin-top: 20px;
}

.card img {
  max-height: 260px;
  width: -webkit-fill-available;
} 

.card {
  margin-top: 20px;
}

.card img {
  max-height: 260px;
  width: -webkit-fill-available;
} 

.jumbotron h1 {
  font-weight: 800;
}

